@font-face {
    font-family: 'Seven Segment';
    font-style: normal;
    font-weight: normal;
    src: url('Seven Segment.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Seven Segment';
    background-color: #000800;
    color: #32CD32;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    margin-top: 10%;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 0 10px #07a607;
}

#date {
    margin-top: 5%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px #07a607;
}